.form {
    border-radius: $radius;
    background: $light;
    padding: 90px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 40px;

    @include tablet {
        padding: 30px;
        gap: 25px;
    }

    @include mobile {
        padding: 30px 20px;
    }

    &-title {
        font-weight: 600;
        font-size: 32px;
        text-transform: uppercase;
        letter-spacing: 1.6px;
        line-height: 1.3;

        @include tablet {
            font-size: 16px;
            letter-spacing: 0.8px;
        }
    }

    &-subtitle {
        font-size: 20px;

        @include tablet {
            font-size: 14px;
        }
    }

    &-police {
        font-size: 16px;
        color: $dark_gray;
        display: block !important;

        @include tablet {
            font-size: 10px;
        }

        a {
            color: $main;
            text-decoration: underline;
        }
    }

    p {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 30px;

        @include tablet {
            gap: 20px;
        }
    }

    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 30px;

        @include tablet {
            gap: 20px;
        }

        input,
        button {
            width: 100%;
        }

        .button {
            @include tablet {
                font-size: 10px;
                padding: 19px 14px;
            }

            @include mobile {
                padding: 19px 10px;
            }
        }
    }
}

.wpcf7 {
    br {
        display: none;
    }
}

.wpcf7-response-output {
    display: none;
}

input.wpcf7-not-valid {
    border: 1px solid #EDAC2E;
}

.wpcf7-form-control-wrap {
    width: 100%;
    position: relative;
    display: block;

    .wpcf7-not-valid-tip {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(0, calc(100% + 4px));
        color: #EDAC2E;
        font-size: 14px;
        font-weight: 500;

        @include mobile {
            font-size: 10px;
            transform: translate(0, calc(100% + 1px));
        }
    }
}