.header {
    padding: 42px 60px 0px;

    @media (max-width: 1910px) {
        padding: 42px 20px 0;
    }

    @include tablet {
        padding: 20px 20px 0px;
    }

    &-phone-mobile {
        display: none;

        @include mobile {
            display: block;
            font-size: 8px;
            font-weight: 600;
            margin-left: auto;
            white-space: nowrap;
        }

        @media (max-width: 362px) {
            display: none;
        }
    }
    

    &-wrapper {
        background: $light;
        border-radius: $radius;
        display: flex;
        align-items: center;
        justify-content: space-between;
        grid-gap: 40px;
        padding: 20px 40px;

        @media (max-width: 1910px) {
            grid-gap: 20px;
        }

        @include tablet {
            padding: 20px;
        }

        @include mobile {
            padding: 20px 15px;
        }
    }

    &-logo {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 20px;
        max-width: 360px;

        @include mobile {
            flex: 0 0 180px;
            max-width: 180px;
            gap: 5px;
        }

        &-text {
            font-size: 16px;
            font-weight: 300;
            letter-spacing: 1.04px;

            @media (max-width: 1910px) {
                font-size: 14px;
            }

            @include mobile {
                font-size: 8px;
            }
        }
    }

    &-nav {
        display: flex;
        align-items: center;
        justify-content: end;
        grid-gap: 30px;

        @include mobile {
            position: absolute;
            background: #fff;
            top: 120px;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: 40px;
            border-radius: 20px;
            padding: 30px 20px;
            z-index: 10;
            opacity: 0;
            visibility: hidden;
            width: calc(100vw - 40px);
            transform: translate(0, -50px);
            transition: transform .3s linear, opacity .5s linear;
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: start;
            gap: 8px;
        }

        &-adress,
        &-contact {
            font-size: 16px;
            white-space: nowrap;
            transition: color .5s linear;
        }

        &-adress {
            @media (min-width: 1200px) {
                &:hover {
                    color: $main;
                }
            }

            @include tablet {
                display: none;
            }

            @include mobile {
                display: block;

                a {
                    white-space: pre-wrap;
                    display: block;
                    max-width: 230px;
                    text-align: left;
                }
            }
        }

        &-contact {
            font-weight: 600;
            white-space: nowrap;
            transition: color .3s linear;

            @media (min-width: 1200px) {
                &:hover {
                    color: $main;
                }
            }
        }

        @media (max-width: 1910px) {
            &-adress,
            &-contact,
            .button {
                font-size: 14px;
            }
        }

        @media (max-width: 1600px) {
            .button {
                display: none;
            }
        }

        @include mobile {
            .button {
                display: flex;
            }
        }
    }

    .mobile-nav {
        display: none;

        @include mobile {
            display: block;
            position: relative;
            width: 34px;
            height: 34px;
            border: none;
            background: transparent;

            span {
                pointer-events: none;
                width: 24px;
                height: 2px;
                border-radius: 2px;
                background: $text;
                position: absolute;
                top: 50%;
                left: 50%;
                transition: transform .2s linear;
                
                
                &:first-child {
                    transform: translate(-50%, calc(-50% - 6px));
                }

                &:nth-child(2) {
                    transform: translate(-3px, -50%);
                    width: 15px;
                }

                &:last-child {
                    transform: translate(-50%, calc(-50% + 6px));
                }
            }
        }
    }

    @include mobile {
        &.open {
            position: relative;
            z-index: 10;
            .header-wrapper {
                background: #fff;
            }

            .header-nav {
                opacity: 1;
                visibility: visible;
                left: 20px;
                transform: translate(0, 0);
            }

            .mobile-nav {
                span {
                    &:nth-child(2) {
                        display: none;
                    }

                    &:first-child {
                        transform: translate(-50%, -50%) rotate(-45deg);
                    }

                    &:last-child {
                        transform: translate(-50%, -50%) rotate(45deg);
                    }
                }
            }
        }
    }
}