.slider-pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .swiper-pagination-bullet {
        cursor: pointer;
        background: $main;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        opacity: 0.2;
        margin: 0;

        &-active {
            opacity: 1;
        }
    }
}